<div id="errorContainer">
    <div id="imgContainer">
        <img class="errorIMG"src="https://www.pinclipart.com/picdir/big/62-620970_oops-you-found-our-404-page-oops-looks.png" alt="cute sad dinosaur image">
    </div>
    <h1  id="ErrorDescription"> Oops! </h1>
    <h2 id="ErrorStatus">Hedgehog With @ViewBag.Id ID Was Not Found</h2>
    
</div>